html {
  height: 100%;
}

header {
  text-align: center;
  font-size: 50px;
  color: whitesmoke;
}

body {
  margin: 0;
  padding: 0;
  font: 16px / 1 sans-serif;
  background-image: url(images/chalk.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.buttons {
  display: flex;
}
